
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAF F1</title>
    <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href='/stylesheets/f1.css'>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/f1.css' />
        <link rel='stylesheet' href='/stylesheets/contacto.css' />
        <link rel='stylesheet' href='/stylesheets/nosotros.css' />
        <link rel="stylesheet" href="/stylesheets/categorias.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>


    <header class="headerbar wrapp">
        <img class="logobar" src="/images/LAFlogo.png" alt="Logo Imagen">
          <nav class="nav_linksbar">
              <ul>
                <li class="iniciobar"><a  href="/inicio">Inicio</li></a>

              </ul>
          </nav>
    </header>

       
  <body class="body">        
        {{{body}}}
  </body>

<footer>

  <section class="footer-section">
      <div class="footer">
        <div class="contenedor">
          <div class="patrocinadorescontenedor">Patrocinado por
		        <div class="item">
              <img class="patrocinadores" src="/images/LAFlogo.png" alt="Logo Imagen">
              <img class="patrocinadores" src="/images/LAFlogo.png" alt="Logo Imagen">
              <img class="patrocinadores" src="/images/LAFlogo.png" alt="Logo Imagen">
            </div>
          </div> 
		      <div class="item">LAF F1 - All rights reserved© 2022</div>
	        <div class="item item-mail">Contacto Sponsors
            <div class="item-mail">laf1@sponsors.com.ar</div>
          </div>
	</div>
      </div>
  </section>

</footer>

</html>