<head>
  <!-- CSS and JS file -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- CSS and JS file end here -->
</head>

<section class="wrapp-centrado">
  <div class="titulo-contacto">
    <h3>Conocenos un poco más...</h3>
  </div>
  <div class="item-logo">
    <a href="https://www.youtube.com/channel/UC3G-RKiGKzIBI3Gw9BD3cPg" target="_blank"><img class="logo-contacto"
        src="images\youtube.png" alt="Logo Imagen"></a>
    <a href="https://www.twitch.tv/laf_argentina" target="_blank"><img class="logo-contacto" src="images\twitch.png"
        alt="Logo Imagen"></a>
    <a href="https://www.instagram.com/laf_argentina/" target="_blank"><img class="logo-contacto" href=""
        src="images\instagram.png" alt="Logo Imagen"></a>
    <a href="https://discord.gg/X3r8FakwNh" target="_blank"><img class="logo-contacto" href="" src="images\discord.png"
        alt="Logo Imagen"></a>
  </div>
  <div class="line-contacto wrapp"></div>
</section>


<section class="wrapp-centrado">
  <div class="titulo-competi">
    <h3>¿Querés competir?</h3>
  </div>



  <div class="contact-form-widget">
    <form action="/" method="post" class="form">
      <div class="nama">
        <label for="nombre" class="fa fa-user">Nombre</label>
        <input type="text" class="contact-form-name" id="nombre" placeholder="..." name="nombre">
      </div>
      <div class="nama">
        <label for="apellido" class="fa fa-user">Apellido</label>
        <input type="text" class="contact-form-name" id="apellido" placeholder="..." name="apellido">
      </div>
      <div class="email">
        <label for="email" class="fa fa-envelope-o">E-mail</label>
        <input type="text" class="contact-form-email" id="email" placeholder="..." name="email">
      </div>
      <div class="pesan">
        <label for="steam" class="fa fa-envelope-o">Steam</label>
        <input type="text" class="contact-form-email" id="steam" placeholder="..." name="steam">
      </div>
      <div class="boton-enviar">
        <button type="submit" class="contact-form-button contact-form-button-submit fa-user">Enviar</button>

        {{#if message}}
        {{message}}
        {{/if}}

      </div>
    </form>
  </div>
  </div>
  </div>

  <section class="reglamento">
    <a href="https://drive.google.com/drive/folders/1hFy9Ew_zTQ85j_ONLR74Zm7mf72zFDfd">Descargar reglamento</a>
  </section>




</section>