<head>
  <!-- CSS and JS file -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- CSS and JS file end here -->
</head>
<section class="banner wrapp" style="background-image: url('images/HeaderBackground.png');">
<div class="intro">
	<div class="">
		<div class="">
				<div class="block">
					<span>E-Sports</span>
					<h1>Liga Argentina F1</h1>					
					<p>Competencia de simulación virtual, emitida por Twitch.</p>
					<div class="custom-btn btn-15">
						<a href="/contacto" target="_blank" class="inscribite-ya">Inscribite<i></i></a>
					</div>
				</div>
		</div>
	</div>
</section>
<section class="wrapp cuadrados">
<div class="testimonial">
<figure class="snip1533">
  <img src="images\cronometro.jpg" alt="bandera" class="circulo-testimonial">
  <figcaption>
    <h3>Clasificacion</h3>
    <blockquote >
      <p>Qualy corta, de 15 minutos, momento en que vas a poder demostrar tu potencial </p>
    </blockquote>
  </figcaption>
</figure>
<figure class="snip1533">
    <img src="images\bandera.jpg" alt="bandera" class="circulo-testimonial">
  <figcaption>
    <h3>Carreras</h3>
    <blockquote>
      <p>La mayoría son de 50% pero también pueden aparecer fechas especiales de 100%</p>
    </blockquote>
  </figcaption>
</figure>
<figure class="snip1533">
    <img src="images\ganador.jpg" alt="bandera" class="circulo-testimonial">
  <figcaption>
    <h3>Premio</h3>
    <blockquote>
      <p>Los ganadores de ambas ligas y Fair Play, obtienen como recompensa 1 año de F1 TV</p>
    </blockquote>
  </figcaption>
</figure>
</div>
</div>
</section>