<head>
  <!-- CSS and JS file -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- CSS and JS file end here -->
</head>

<section class="flexbox-container wrapp">
                
            <div class="flexbox-item flexbox-item-1"> 
                <h3>Categoría A</h3>
                <img class="calendario" src="images\calendarioA.jpg" alt="CalentarioB">               
                <img class="categoria-A" src="images/ayudasA.jpeg" alt="Categoría A"> 
                <h2>Lunes 20:30hs</h2>    
            </div>

            <div class="flexbox-item flexbox-item-2"> </div>

            <div class="flexbox-item flexbox-item-3"> 
                <h3>Categoría B</h3>
                <img class="calendario" src="images\calendarioB.jpg" alt="CalentarioB">             
                <img class="categoria-B" src="images/ayudasB.jpeg" alt="Categoría B">  
                <h2>Jueves 20:30hs</h2>
            </div>
        
</section>   